.map-wrapper {
	background: url(../resources/map-background.png) no-repeat 0 0;
	background-size: 100% 100%;
	position: absolute;
	top: -150px;
	left: -150px;
	right: -150px;
	height: 600px;
	text-align: center;

	#map {
		position: relative;
		top: 0px;
		height: 550px;
		width: 100%;
		border: none;
		opacity: .7;
	}
}

.map-spacer {
	position: relative;
	margin: 300px;
}
