<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<meta 	charset="utf-8">
	<meta 	http-equiv="X-UA-Compatible" content="IE=edge">
	<meta 	name="description" content="">
	<title 	ng-bind="title"></title>

	<!-- ANGULARJS -->
	<script src="bower_components/angular/angular.min.js"></script>

	<!-- BOOTSTRAP -->
	<link 	href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	<script src="/bower_components/jquery/dist/jquery.min.js"></script>
	<!-- <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script> -->
	<link  	href="css/main.css"	rel="stylesheet" type="text/css"/>

	<!-- ANGULARJS COMPONENTS -->
	<script src="bower_components/angular-route/angular-route.min.js"></script>
	<script src="bower_components/angular-animate/angular-animate.min.js"></script>
	<script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>

	<!-- ANGULAR WIRING -->
	<script src="js/main.js"></script>
	<script src="js/router.js"></script>
	<script src="js/controllers.js"></script>
	<script src="js/components.js"></script>

</head>
<body class="ng-view" ng-cloak>
	<audio id="music" autoplay="true" loop="true" hidden="true">
		<source src="../resources/music.mp3" type="audio/mpeg">
	</audio>
	<div id="background">

<!-- LEFT SLIDING DRAWER -->
<!-- 	<div id="drawer-show">
		<div ng-click="app.showLeft($event)" id="drawer-activate">
			<i class="fa fa-bars" aria-hidden="true"></i>
		</div>
		<drawer visible="leftVisible" alignment="left">
			<ul>
				<li ng-bind="key"  
					class="drawer-tabs" 
					ng-class="{ active:val }"
					ng-click="app.tabFunction(key)" 
					ng-repeat="(key,val) in views track by $index">
				</li><br>
			</ul>
		</drawer>
	</div> -->

	<!-- LOADING PAGE -->
	<section class="loading" ng-show="loading">
		<div id="tree" class="tree"></div>
		<div id="inner" class="rotating-1"></div>
		<div id="middle" class="rotating-2"></div>
		<div id="outer" class="rotating-3"></div>
	</section>

	<section class="titles" ng-hide="loading">
		<img src="http://www.animatedimages.org/data/media/90/animated-fire-image-0018.gif" 
			id="fire-left" border="0" alt="animated-fire-image-0018"/>
		<img src="http://www.animatedimages.org/data/media/90/animated-fire-image-0018.gif" 
			id="fire-right" border="0" alt="animated-fire-image-0018"/>
		<h1>Riddles In The Dark</h1>	
		<hr>
		<p>Your Christmas Treasure Hunt</p>
	</section>

	<section class="fire" ng-hide="loading">
	</section>
