<% include ./partials/header.ejs %>

<!-- DEVELOPER MODE -->
<!-- <ul class="nav nav-tabs">
	<div ng-repeat="(key,val) in views track by $index" ng-class="{active:val}">
		<a href="" ng-click="app.tabFunction(key)" ng-bind="key"></a>
	</div> 
</ul>  -->

<div id="answer-tracking">
	<span class="answers" ng-show="answerTrackingOne">Answer #1: {{ riddle.one }} 37 -122</span>
	<span class="answers" ng-show="answerTrackingTwo">Answer #2: {{ riddle.two }} <span ng-show="answerTrackingThree">City</span></span>	
</div>


<section class="tab-content" ng-hide="loading">

	<div id="fireworks" ng-show="fireworks">
		<img src="http://www.animatedimages.org/data/media/492/animated-fireworks-image-0072.gif" alt="">
	</div>

	<div title="Intro" class="tab-pane" ng-class="{active : views.INTRO}">
		<p>Welcome to your</p><br>
		<p>Christmas gift Treasure Hunt!</p><br>
<!-- 		<p>Christmas gift!</p><br>
		<p>Turn up the sound on your computer</p><br>
		<p>and go to this website to see it:</p><br><br><br> -->
		<p>To begin, touch the One Ring</p><br>
		<p>if you dare...</p>
		<img src="../resources/ring.png" alt="" class="ring" ng-click="app.tabFunction('RIDDLE1')">
	</div>

	<div title="Riddle1" class="tab-pane" ng-class="{active : views.RIDDLE1}">
		<p>37 -122</p><br>
		<p>If you add, subtract, or multiply me,</p><br>
		<p>you'll only get half the truth</p><br>
		<p>and miss me by miles.</p><br>
		<p>What are we?</p>
		<form ng-submit="riddles(riddle.one, '1', 'false')">
			<input type="text" ng-model="riddle.one" ng-class="fail===true ? 'fail' : 'pass'" required autofocus>
		</form>
		<p ng-show="fail">That is not the right answer</p>
	</div>

	<div title="Riddle2" class="tab-pane" ng-class="{active : views.RIDDLE2}">
		<p>I contain one 'ion',</p><br>
		<p>but I'm not a molecule.</p><br>
		<p>I'm a small square inside a</p><br>
		<p>big apple.</p><br>
		<p>I'm not only a synonym of marriage,</p><br>
		<p>but the entire goal of it.</p><br>
		<p>What am I?</p><br>
		<form ng-submit="riddles(riddle.two, '2', 'false')">
			<input type="text" ng-model="riddle.two" ng-class="fail ? 'fail' : 'pass'" value="riddle.two" required>
		</form>
		<p ng-show="fail">That is not the right answer</p>
	</div>

	<div title="Riddle3" class="tab-pane" ng-class="{active : views.RIDDLE3}">
		<p>598606 and 065635</p><br>
		<p>The point of this</p> <br>
		<p>is after the first clue</p> <br>
		<p>and before these numbers.</p> <br>
		<p>The combination will get you closer.</p> <br>
			<input type="text" ng-model="riddle.three.a" ng-class="fail ? 'fail' : 'pass'" required>
			<input type="text" ng-model="riddle.three.b" ng-class="fail ? 'fail' : 'pass'" required> <br>
				<button ng-click="riddles(riddle.three.a, '3', riddle.three.b)">This is my answer</button><br><br>
		<p ng-show="fail">That is not the right answer</p>
	</div>

	<div title="MAP" class="tab-pane" ng-class="{active : views.MAP}">
		<!-- <p>"iMac iPhone. iRun iJog. iSoar i____!"</p> -->
		<div class="map-wrapper">
			<p style="margin:10px;">Find and follow the compass down to see your Christmas treasure!</p>
			<div id="map"></div>
		</div>
	</div>

</section>

<% include ./partials/footer.ejs %>
