<% include ./partials/header.ejs %>

<!-- <ul class="nav nav-tabs">
	<div ng-repeat="(key,val) in views track by $index" ng-class="{active:val}">
		<a href="" ng-click="app.tabFunction(key)" ng-bind="key"></a>
	</div> 
</ul>  -->

<section class="tab-content" ng-hide="loading">
<!-- <p>Riddles in the dark...</p> -->

<!-- <p>This thing all things devours:
Birds, beasts, trees, flowers;
Gnaws iron, bites steel;
Grinds hard stones to meal;
Slays king, ruins town,
And beats high mountain down.
</p> -->

	<div title="Intro" class="tab-pane" ng-class="{active : views.INTRO}">
		<p>Welcome to your Christmas gift Treasure Hunt</p><br>
		<p>Take the One Ring to begin your riddle challenge</p>
		<p>if you dare...</p>
		<img src="../resources/ring.png" alt="" class="ring" ng-click="app.tabFunction('RIDDLE1')">
		<img src="http://www.animatedimages.org/data/media/90/animated-fire-image-0084.gif" border="0" alt="animated-fire-image-0084" ng-show="fail"/>
	</div>

	<div title="Riddle1" class="tab-pane" ng-class="{active : views.RIDDLE1}">
		<p>I contain one 'ion', but I'm not a molecule. I'm a large square inside a big apple. I'm not only a synonym to marriage, but the entire goal of it. What am I?</p><br>
		<p>I'm a street within and a city outside The City</p>
		<form ng-submit="riddles(riddle.one, '1', 'false')">
			<input type="text" ng-model="riddle.one" value="riddle.one" required autofocus>
			<img src="http://www.animatedimages.org/data/media/90/animated-fire-image-0084.gif" border="0" alt="animated-fire-image-0084" ng-show="fail"/>
		</form>
		<p ng-show="fail">That is not the right answer</p>
	</div>

	<div title="Riddle2" class="tab-pane" ng-class="{active : views.RIDDLE2}">
		<p>37 -122</p>
		<p>If you add, subtract, or multiply me, you'll only get half the truth and miss me by a long shot. what am I?</p>
		<form ng-submit="riddles(riddle.two, '2', 'false')">
			<input type="text" ng-model="riddle.two" required>
			<img src="http://www.animatedimages.org/data/media/90/animated-fire-image-0084.gif" border="0" alt="animated-fire-image-0084" ng-show="fail"/>
		</form>
		<p ng-show="fail">That is not the right answer</p>
	</div>

	<div title="Riddle3" class="tab-pane" ng-class="{active : views.RIDDLE3}">
		<p>598606 and 065635</p>
		<p>Do you get the point? Combined with the last clue, this clue will get you closer. </p> <br>
			<input type="text" ng-model="riddle.three.a" required>
			<input type="text" ng-model="riddle.three.b" required> <br>
			<img src="http://www.animatedimages.org/data/media/90/animated-fire-image-0084.gif" border="0" alt="animated-fire-image-0084" ng-show="fail"/>
			<button ng-click="riddles(riddle.three.a, '3', riddle.three.b)">This is my answer</button>
		<p ng-show="fail">That is not the right answer</p>
	</div>

	<div title="MAP" class="tab-pane" ng-class="{active : views.MAP}">
		<p>"iMac iPhone. iRun iJog. iSoar i____!"</p>
		<div class="map-wrapper">
			<p>Follow the compass down to see your Christmas treasure...</p>
			<div id="map"></div>
		</div>
	</div>

</section>

<% include ./partials/footer.ejs %>
