.titles {
	text-align: center;
	font-size: 1.5em;
	color: $gold;

	h1 {
		// color: #eab100;
		font-size: 4em;
		background: -webkit-linear-gradient(#eee, #eab100);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		text-shadow: 2.5px 2.5px 3px rgba(176, 97, 0, 1);
	}
	hr {
		margin-top: -50px;
		border-color: #1e1e1e;
		width: 45%;
	}
	p {
		position: relative;
		top: -10px;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		text-shadow: 2.5px 2.5px 1.7px rgba(176, 97, 0, 1);
	}
}


.nav.nav-tabs {
	position: relative;
	top: 10px;
	left: 0px;
	right: 0px;
	min-width: 482px;
	width: 100%;
	margin: 15px;
	text-align: center;
	font-size: 2em;
}
// NON-SELECTED TAB
.nav-tabs {
	background-color: rgba(0, 0, 0, 0);
	border: none;

	div {
		display: inline;
		margin: 0 17px;

		a:hover, a:focus {
			background-color: rgba(0, 0, 0, 0);
			border: none;
			text-decoration: none;
			color: #fff6b7;
		}
	}

	div.active {
		a,
		a:focus,
		a:hover {
			background-color: rgba(0, 0, 0, 0);
			border: none;
			color: #fff6b7;
			text-decoration: none;
		}
	}
}

// PANEL BOX
.tab-content {
	// background-color: #0c0c0c;
	background: url(../resources/map-background.png) no-repeat 0 0;
	background-size: 100% 100%;
	position: absolute;
	left: 0px;
	right: 0px;
	min-height: 200px;
	margin-top: 70px;
	color: #fff;
	-webkit-box-shadow: 0px 0px 50px 0px rgba(255, 255, 0, 0.60);
	-moz-box-shadow:    0px 0px 50px 0px rgba(255, 255, 0, 0.60);
	box-shadow:         0px 0px 50px 0px rgba(255, 255, 0, 0.60);
	text-align: center;
	opacity: .9;

	.tab-pane {
		position: relative;
		left: 0px;
		right: 0px;
		margin: 3%;
		color: #814700;
		font-family: 'anirm___';
		font-size: 1.5em;

		p {
			margin: 0 150px;
		}

		.crystal {
			position: relative;
			width: 120px;
			height: 100px;
			cursor: pointer;
		}

		button {
			position: relative;
			width: 450px;
			background: #241600;
			color: #c36b00;
			border-color: #6500ab;
			font-family: 'RingbearerMedium';

		}
		button:hover {
			-webkit-filter: brightness(90%);
			filter: brightness(90%);
		}
	}
}
